body{color:#999999;padding-top:75px;height:calc(100vh - 75px); background: linear-gradient(#34b0f7, #ffffff);min-height: 400px;}
html,mark{color:#000}
pre,textarea{overflow:auto}
.bullet,li{list-style-type:inherit;list-style-position:outside}
html{-ms-box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;font-family:sans-serif;font-size:16px;-ms-text-size-ajust:100%;-moz-text-size-ajust:100%;-webkit-text-size-ajust:100%;text-size-ajust:100%;background-color:#FFF}
body{overflow-x:hidden}
*,::after,::before{-ms-box-sizing:inherit;-moz-box-sizing:inherit;-webkit-box-sizing:inherit;box-sizing:inherit;margin:0;padding:0}
a{background-color:transparent}
a:active,a:hover{outline:0}
h1{font-size:32px;font-size:2rem}
h2{font-size:28px;font-size:1.75rem}
h3{font-size:24px;font-size:1.5rem}
h4{font-size:20px;font-size:1.25rem}
h5{font-size:16px;font-size:1rem}
h6{font-size:12px;font-size:.75rem}
li{margin-left:1rem}
.mauto,hr{margin:auto}
a,abbr,b,code,dfn,em,i,li,mark,p,pre,strong{font-size:inherit}
small{font-size:75%}
abbr,dfn,em,i{font-style:italic}
abbr[title]{border-bottom:thin dotted}
b,optgroup,strong{font-weight:700}
mark{background-color:#FF0}
sub,sup{font-size:12px;font-size:.75rem;line-height:0;position:relative;vertical-align:baseline}
sup{top:-8px;top:-.5rem}
sub{bottom:-4px;bottom:-.25rem}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:16px;font-size:1rem}{width:100%;height:0;border:thin solid #000}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block}
audio,canvas,iframe,picture,progress,svg,video{display:inline-block;vertical-align:baseline;width:100%;max-width:100%;height:auto;border:0}
audio:not([controls]){display:none;height:0}[hidden],template{display:none}svg:not(:root){overflow:hidden}
button,input,optgroup,option,select,textarea{padding:.25rem;font-family:inherit;font-size:16px;font-size:1rem;border:thin solid #000;color:inherit}
button{overflow:visible}button,select{text-transform:none}input{line-height:normal}
textarea{vertical-align:bottom;resize:none}
button,input[type=button],input[type=submit],input[type=reset],input[type=checkbox],input[type=radio],label,select{cursor:pointer}[disabled]{cursor:default;color:#999;background-color:#DDD}
fieldset{border:thin solid silver;padding:.5rem}
.border,table,td,th{border:thin solid #000}
table{border-collapse:collapse}::selection{color:#FFF;background-color:#338FFF}::-moz-selection{color:#FFF;background-color:#338FFF}
.container,.container-full{display:block;width:100%;margin:auto;font-size:0}
.container{max-width:1200px}.item{display:block;width:100%;padding:1rem;font-size:16px;font-size:1rem}
.clear:b:after,.clear::before{content:'';display:block}
img{max-width:100%;display:block;}
.header{top:0;height:75px;width:100%;background-color:#fff;z-index:1;-webkit-transition:bottom 2s;transition:bottom 2s;position:fixed;box-shadow: 0px 2px 2px #375f75;}
.header .contenedor{display:flex;justify-content:space-between;}
.logo-top img{height:70px;margin:2px 0px 5px 10px;padding:2px;}
.icon-menu{font-size:17px;color:#FFF;padding-bottom:0px;}
.icon-container{display:block;width:60px;height:40px;background-color:#38A5D8;text-align:center;line-height:40px;border-radius:5px;margin:20px 10px 15px auto;cursor:pointer;}
.icon-container-out{display:block;width:80px;height:40px;background-color:#38A5D8;text-align:center;line-height:40px;border-radius:5px;margin:20px 10px 15px auto;cursor:pointer;}
.headroom{will-change:transform;transition:transform 200ms linear;}
.headroom--pinned{transform:translateY(0%);}
.headroom--unpinned{transform:translateY(-100%);}
.nav{position:absolute;top:75px;width:100%;left:-100%;height: 100%;min-height: 400px; transition:all 0.4s;height: calc(100vh - 75px);background-color: #34b0f6; ;padding: 2px}
.mostrar{left:0;}
.center-center{position:relative;top:50%;left:50%;transform:translateX(-50%) translateY(-50%);}
.card{width:80%;padding:0px;margin:15px auto 70px auto;box-shadow:0 4px 8px 0 rgba(0,0,0,0.2);transition:0.3s;max-width:800px;}
.card img, .team-pic{margin:0 auto 0 auto;}
.card img{padding:10px;}
.card h2{background-color:#375F75;padding:10px;color:#FFF;}
.card p{font-size:20px;width:80%;margin:0 auto 0 auto;padding-bottom:15px;font-weight: 100}
.card:hover{box-shadow:0 12px 24px 0 rgba(0,0,0,0.2);}
/*---------About us---------*/
.mision-txt{width: 80%;margin: 30px auto 70px auto;}
.tittle-border{border-width:1px;max-width: 200px;padding: 10px;border-style: solid; border-color: #f97c06; border-right-style: none;border-left-style: none;}
@media (min-width:720px){.contenedor h2{font-size:40px;}
.banner-txt{margin:30px auto 0 auto;width:80%;display:block;font-size:30px;}
.center-center h1{font-size:50px;}
.center-center p{font-size:40px;}
.floatcf{clear: both;}
}
@media (min-width:900px){
.products, .team{margin-left:auto;margin-right:auto;width:80%;}
.menu{display:flex;}
.menu-link{background:none;color:#375f75;padding-left:10px;padding-right:10px;}
.menu-link:hover{background-color: #375f75; color: #ffffff;}
.floatl{float: left; width: 50%;border-width:1px;border-style: solid; border-color: #f97c06; border-top-style: none;border-left-style: none;border-bottom-style: none;}
.floatr{float: right; width: 50%}
.floatc, .floatcf{clear: both;}
.nav-element{text-align: center}
}
@media (min-width:1125px){
.products, .team{margin-left:auto;margin-right:auto;width:70%;}
.banner-txt{width:60%;}
.floatl{float: left; width: 50%;}
.floatr{float: right; width: 50%}
.floatc, .floatcf{clear: both;}
}
.none{
	display: none;
}

/*About*/
.team-columna{border-radius:20px;margin:40px auto 20px auto;text-align:center;width:300px;padding-bottom:30px;height:550px;}
.team-name, .name{font-weight: 300;}
.team-name{margin-top:10px;}
.name{font-size: 20px;}
.team-pic{border-radius: 10px; width: 250px;height: 350px;overflow: hidden;}
.team-txt{font-weight: 100; margin-top:20px;}
.social-item-profile{color:#999999;text-decoration:none;padding:10px 10px 10px 10px;}
.social-item-profile:hover{color:#375f75;}
.contact-tittle{padding: 10px; color: #375f75;}
.contact-item-p{padding-top:10px;}
.social-container, .social-container-100{margin-left: auto; margin-right: auto;margin-bottom:30px; background-color: #375f75;width: 140px;height: 140px;border-radius: 50%;}
.social-container{font-size: 120px;}
.social-icon{margin-top: 15px;color: #ffffff;}
.social-container-100{font-size: 100px;}
.left-10{margin-left:-10px; margin-top: 15px;}
.top-15{margin-top: 15px;}
input, textarea{
	margin:10px;
	padding:5px;
	width: 80%;
	max-width: 350px;
}
textarea{
	height: 200px;
}
input{
	border-radius: 10px;
	border: 2px solid #34b0f6;
	background-color: #FFFFFF;
}
.send-email{
	text-align: center;
	background-color: #375f75;
	padding-bottom: 25px;
}
.button{
	margin-top: 20px;
	background-color: #FFFFFF;
	color: #34b0f6;
	max-width: 100px;
}
.button:hover{
	background-color: #34b0f6;
	color: #ffffff;	
}
.email-title{
	padding-top: 20px;
	color:#ffffff;
	padding: 20px;
}
.tabla{
	width: 80%; 
	margin-left: auto;
	margin-right: auto; 
	color:#999999; 
	background-color:#fff;
	margin-bottom: 30px;"
}
.tabla table{
	border-color:#38A5D8;
}
.logo-style{	
	display: inline-block; 
	margin: 30px auto auto -3px; 
	color: #38a5d8;
}
#map {
         	height: inherit;
         	width: 100%;
         }  

.con_estilos {
width: 293px;
padding: 5px;
font-size: 16px;
border: 1px solid #D9D6D6;
height: 34px;
background-color:#FFFFFF;
}

.con_estilos1 {
    width: 367px;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #A8A6A6;
    height: 34px;
    background-color:#FFFFFF;
    }

.con_estilos2 {
    width: 330px;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #A8A6A6;
    height: 34px;
    background-color:#FFFFFF;
}
/*Menu bar*/
.container-bar {
    display: inline-block;
    cursor: pointer;
    margin: 15px 20px 0 0;
    border: 1px solid #34b0f6;
    padding: 5px;
    border-radius: 5px;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
	background-color: #34b0f6;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}
.nav-element{display: block;padding: 10px;text-decoration: none;color: #FFFFFF; font-size: 25px;border-bottom: 2px solid #FFF}
.login-form{
	border-radius: 10px; width: 80%;max-width: 450px;min-width: 300px;margin:60px auto 0 auto;height: 400px;background-color: rgba(255,255,255,0.7);text-align: center; box-shadow: 0px 2px 2px #375f75;padding:30px 10px 0 10px;color: #34b0f6;
}
.login-form div{width: 300px; margin-right: auto;margin-left: auto}
.login-form div form{padding: 20px; width: 300px;}
.login-form div form p{font-size: 20px; padding-top:20px}
select{background-color: #fff;color: #34b0f6;border-radius: 10px;border: 2px solid #34b0f6; margin-top:10px;}
.selected{background-color: #fff;color: #34b0f6;}
.devices{height: auto; margin-bottom: 40px}
.transport{height: 500px;}
.user-name{z-index: 100;position:fixed;bottom:30px;width: 100%;text-align: center; color:#FFF}
.user-name p{padding:5px;border-radius: 10px;background-color: #34b0f6; width: 60%;max-width: 450px; margin-left: auto;margin-right: auto;}
.list-item{	text-decoration:none;border-radius: 10px;border: 2px solid #34b0f6; background-color: #FFFFFF;padding: 10px; display: block;max-width: 300px;margin: 30px auto 0 auto; color: #34b0f6;}

.redes{ transition: all .5s; z-index:2000;height:300px;width:100px;background-color:rgba(0,0,0,0.1);right:0;top:35%}

.share-fb{	
    background-color: #2d609b;
    background-image: url("http://flick-gnarlycrew.com/images/sns_icon_f.png");
}
.text-center{text-align: center;}
.precio-item{height: 50px;width: auto}
.show-transport{width: 80%;background-color: #FFF;color: #34b0f6; margin: 30px auto 40px auto; border:2px solid #34b0f6;}
.show-reportHumedad{color: #34b0f6; align-content: center; margin: 9% auto 9% auto; width: 90%; border: 2px solid #34b0f6; background-color: #FFF}
.td-show-transport{border:1px solid #F6343E} 