

#boton2{
    
    color: #fff; /*color de letra*/
    padding: 10px;
    font-size: 1.1em;
    background-color: transparent; /* color del boton*/
    color: black;
    border: 2px solid #FFFFFF;
    
    
}



